.calendar {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.calendar th {
    text-align: center;
    padding: 8px;
    background-color: #ffffff;
}

.calendar td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.calendar tr {
    background-color: #ffffff;
}

.calendar td:hover {
    background-color: #f2f2f2;
}

.prev, .next {
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    border: none;
    background-color: #ffffff;
}

.nav-bar {
    background-color: #90b632;
    overflow: hidden;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgb(185, 185, 185);
}

.logo {
    width: 6%;
    color: white;
}

.nav-bar button {
    background-color: rgba(27, 54, 100, 0);
    color: #000000;
    border: none;
    display: inline-block;
    gap: 10px;
}

.nav-bar i {
    font-size: 20px;
}

.nav-bar select {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    box-shadow: 1px 5px 1px 0 rgba(0, 0, 0, 0.5);
}

.calendar td span {
    border: none;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    flex-flow: row wrap;
    justify-content: flex-start !important;
}

.calendar td div .total{
    margin: 5px;
}

.calendar td span:nth-child(1) {
    background-color: #b5d557;
}

.calendar td span:nth-child(2) {
    background-color: #d25050;
}

.calendar td span:nth-child(3) {
    background-color: #af3eaf;
}

.calendar td span:nth-child(4) {
    background-color: #d9d950;
}

.calendar td span:nth-child(5) {
    background-color: #cb9a40;
}




@media (max-width: 600px) {
    .calendar td button {
        border: none;
        width: 100%;
        height: 20px;
        margin-bottom: 5px;
    }
}
